.signOut{
    background-color: #5d8dee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 250px
}
.profile {
  border-radius: 5px;
  border-width: 2px;
  background-color: aliceblue;
  border-color: rgb(159, 199, 233);
  box-shadow: black;
  width: 300px;
  margin: 8px;
  margin-left: 50px;
  margin-top: 30px;
}

.profileDetails{
  margin-top: 30px; 
  margin-left: 50px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 2px;
  background-color: aliceblue;
  border-color: rgb(159, 199, 233);
  box-shadow: black;
  width: 300px;
  margin: 8px;
}
.welcome{
  font-size: x-large;
  padding-top: 10px;
}